.font-1{
  font: 800 13px "Maven Pro", sans-serif;
  text-transform: uppercase;
  
}

.font-2{
  font: 500 13px "Maven Pro", sans-serif;
  text-transform: uppercase;
}

.font-3{
  font: 400 12px 'Pattaya', sans-serif;
  text-transform: uppercase;
}

