.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
  padding-top: 20px;


}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
  padding-top: 20px;
}

.line{
  border-bottom: 1px solid var(--cor-2);
 margin-bottom: 20px;
 .container {
  box-sizing: border-box;
  max-width: 1540px;
  margin-right: auto;
  margin-left: auto;
  gap: 20px;
 
}

}