.info{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 11px;
  padding-top: 11px;
}

.info-bg{
  background: var(--cor-2);
}


.info-ul{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}